/*general*/

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #F6F8F9;
    
}

header{
    background-color: white;
}

.logo{
    display: inline;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
   
}

.title{
    display: inline-block;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
   
}

/*main*/

.box{
    padding: 20px 50px;
    background-color: white;
    width: 400px;
    height: 550px;
    margin: 50px auto;
    border-radius: 10px;
}

.addtask{
    background-color:#14AAF5;
    color: white;
    border-radius: 5px;
    border: 1px solid #C4CBD0;
    width: 80px;
    height: 25px;
}
    
.addsection{
    background-color: white;
    color: #C4CBD0;
    border-radius: 5px;
    border: 1px solid #C4CBD0;
    width: 80px;
    height: 25px;
}
.circle{
    padding: 3px 5px;
    border: 1px solid green;
    border-radius: 100%;
    text-align: center;
    color: green;
    font-size: 15px;
    display: inline;
}

.cross{
    padding: 3px 5px;
    border: 1px solid red;
    border-radius: 100%;
    text-align: center;
    color: red;
    font-size: 15px;
    display: inline;
}

.description{
    color: black;
}

.btn{
    padding: 3px 15px;
    background-color: #14AAF5;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid white;
}

.bluebutton{
    background-color: #14AAF5;
}

.purplebutton{
    background-color: #ab5de6;
}

.greenbutton{
    background-color: #2CC6AB;
}

.orangebutton{
    background-color: #FF9B00;
}

.fuxiabutton{
    background-color: #EC4A9D;
}

.limebutton{
    background-color: #A3D116;
}

